<a href="https://colab.research.google.com/github/jatinaswal/pythoncbitss/blob/main/restaurentwithinput.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first_num = float(input("enter your first number : "))
second_num = float(input("enter your second number : "))
total = first_num + second_num
print(f"total of {first_num} and {second_num} is ",total)

enter your first number : 10
enter your second number : 20
total of 10.0 and 20.0 is 2 30.0

In [ ]:
first_num = float(input("enter your first number : "))
second_num = float(input("enter your second number : "))
total = first_num * second_num
print(total)

enter your first number : 4
enter your second number : 5
20.0

In [ ]:
first_num = float(input("enter your first number : "))
second_num = float(input("enter your second number : "))
total = first_num - second_num
print(total)

enter your first number : 10.1
enter your second number : 10
0.09999999999999964

In [ ]:
first_num = float(input("enter your first number : "))
second_num = float(input("enter your second number : "))
total = first_num / second_num
print(total)

enter your first number : 10
enter your second number : 2
5.0

In [ ]:
print("      Pahadi's Restaurent")
print("------------------------------")
pizza= int(input("price of pizza : "))
burger=int(input("price of burger : "))
coke = int(input("price of coke : "))
Sandwich=int(input("price of Sandwich : "))
coffee=int(input("price of coffee :"))
total = pizza + burger + coke + coffee + Sandwich
print("------------------------------")
print("Total price of items is : ",total)
print("Discount given to customer : ",total/100*10)
print("total bill after discount : ", total - total/100*10)

      Pahadi's Restaurent
------------------------------
price of pizza : 150
price of burger : 80
price of coke : 50
price of Sandwich : 70
price of coffee :120
------------------------------
Total price of items is :  470
Discount given to customer :  47.0
total bill after discount :  423.0

In [ ]:
print("      Pahadi's Restaurent")
print("------------------------------")
pizza = int(input("Enter the price of pizza : "))       #Inputs

burger = int(input("Enter the price of burger : "))

coke = int(input("Enter the price of coke : "))

coffee=int(input("Enter the price of coffee :"))
print(" ")

print("Discount given on pizza : ",pizza/100*10)        #Discounts
print("Discount given on burger : ",burger/100*10)
print("Discount given on coke : ",coke/100*10)
print("Discount given on coffee : ",coffee/100*10)
print(" ")
print("--------------------------------------------")

total = pizza + burger + coke + coffee
total1 = pizza/100*10 + burger/100*10 + coke/100*10 + coffee/100*10
total2 = pizza + burger + coke + coffee

print("Total bill : ",total)
print("Total of discount given on each item : ",total1)
print("Total bill of items after discount : ",  total2 - total1)

      Pahadi's Restaurent
------------------------------
Enter the price of pizza : 150
Enter the price of burger : 80
Enter the price of coke : 50
Enter the price of coffee :120

Discount given on pizza :  15.0
Discount given on burger :  8.0
Discount given on coke :  5.0
Discount given on coffee :  12.0

--------------------------------------------
Total bill :  400
Total of discount given on each item :  40.0
Total bill of items after discount :  360.0

In [ ]:
P = int(input("Enter the principle amount : "))
R = int(input("Enter the Rate : "))
T = int(input("Enter the time : "))
SI = P*R*T/100
print("Simple interest is : ",SI)
print("Total amount is : ",P+SI)

Enter the principle amount : 100
Enter the Rate : 5
Enter the time : 5
Simple interest is :  25.0
Total amount is :  125.0

In [ ]:
P = int(input("Enter the principle amount : "))
R = int(input("Enter the Rate : "))
T = int(input("Enter the time : "))
SI_month = P*R*T/100
print("Simple interest is : ",SI_month)
print(" ")

time_days = int(input("Enter the time(days) : "))
time_days = time_days/30
print("Time(days) : ",time_days)

SI_days = P*R*time_days/100
print("Simple interest of days : ",SI_days)
print(" ")

Simple_interest = float(SI_month + SI_days)
print("Total simple interest : ",Simple_interest)

Enter the principle amount : 1000
Enter the Rate : 5
Enter the time : 3
Simple interest is :  150.0

Enter the time(days) : 25
Time(days) :  0.8333333333333334
Simple interest of days :  41.66666666666667

Total simple interest :  191.66666666666669

In [ ]:
Gender = str(input("Enter gender : "))
if (Gender == "Male" ) :
  print("Hotel A")
elif(Gender == "Female") :
  print("Hotel B")
else :
  print("Enter valid gender")

Enter gender : Male
Hotel A

In [ ]:
first_number = int(input("enter first number : "))
second_number = int(input("enter second number : "))
print("M0dulas : ", first_number % second_number)

enter first number : 10
enter second number : 4
M0dulas :  2

In [ ]:
marks = int(input("Enter the marks : "))
if marks>=90 and marks<=100 :
  print("A+")
elif marks>=80 and marks<90 :
  print("A")
elif marks>=70 and marks<80 :
  print("B+")
elif marks>=60 and marks<70 :
  print("B")
elif marks>=50 and marks<60 :
  print("C+")
elif marks>35 and marks<50 :
  print("C")
else :
  print("Fail")

Enter the marks : 100
A+

In [ ]:
first_num = int(input("enter first number : "))
if first_num%7==0 and first_num%3==0 :
  print( "number is divisible by 7 and 3" )

enter first number : 21
number is divisible by 7 and 3

In [10]:
Gender = str(input("Enter the Gender : "))
Age = int(input("Enter the age : "))
if Gender == "Male" :
  print("Hotel A")
  if Age>=30 :
    print("Building 1")
  else :
    print("Building 2")
elif Gender == "Female" :
  print("Hotel B")
  if Age>=30 :
    print("Building 1")
  else :
    print("Building 2")
else :
  print("Enter valid gender ")

Enter the Gender : Male
Enter the age : 55
Hotel A
Building 1